@page "/transaction/createtransaction"
@attribute [Authorize]
@inject IAlertService AlertService
@inject ITransactionService TransactionService
@inject NavigationManager navManager
@inject VendingOperator.Client.Shared.PageHistoryState PageHistoryState

<h1>Create Transaction</h1>
<br/>

<Form ButtonText="Create Transaction" Transaction="@transaction" loading="@loading"
      OnValidSubmit="@CreateTransaction" />

@code {
    bool loading = false;

    Transaction transaction = new Transaction
        {
            VendingMachineId = null,  // Or -1 to represent an unselected state
            ProductId = null,         // Or -1
            UserId = null,               // Assuming 0 is not a valid user ID
            Timestamp = DateTime.Now,
            AmountPaid = 0
        };
    async Task CreateTransaction()
    {
        loading = true;
        try
        {  // Debug the transaction values before submitting
            Console.WriteLine($"ProductId: {transaction.ProductId}, VendingMachineId: {transaction.VendingMachineId}, UserId: {transaction.UserId}, AmountPaid: {transaction.AmountPaid}");

            await TransactionService.AddTransaction(transaction);
            AlertService.Success("Transaction added successfully", keepAfterRouteChange: true);
            if (PageHistoryState.CanGoBack()){
                navManager.NavigateTo(PageHistoryState.GetGoBackPage());
            }
            else{
                navManager.NavigateTo("/transaction/1");
            } 
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message);
            loading = false;
            StateHasChanged();
        }
    }
}